<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container container-sm" style="width: 40%;">
            <!--TODO 회원가입 완료 페이지-->
            <h1 class="m-lg-5 text-center">회원가입을 축하합니다.</h1>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">목록으로
                </button>
                <button class="btn btn-lg btn-primary btn-block" onclick="location.href='/login'">Sign in
                </button>
            </div>
        </div>
    </th:block>
</th:block>